include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include photos/photos

block photos
  +photos([
  {
    "src": "8.jpg",
  },
  {
    "src": "9.jpg",
  },
  {
    "src": "10.jpg",
  },
  {
    "src": "11.jpg",
  },
  {
    "src": "12.jpg",
  },
  {
    "src": "13.jpg",
  },
  {
    "src": "14.jpg",
  },
])
