mixin about()
  +b.SECTION.about
    +e.DIV.container
      +e.DIV.content
        +b.DIV.about-content
          +e.DIV.title About me
          +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          +e.BUTTON.btn Read more
      +e.IMG.img(src='img/author.jpg')
    +b.DIV.about-description
      
